*,::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: "Karla", sans-serif;
}

main {
    padding: 36px;
}

.container {
  margin: 0 auto;
  max-width: 750px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #8A24AD;
  color: #fff;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-image {
    width: 3rem;
    margin-right: 1rem;
  }

  .nav-title {
    font-size: 1.25rem;
  }

  .nav-project {
    font-size: .75rem;
    font-weight: 500;
  }

}


.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;

    .form-input {
        font-family: "Karla", sans-serif;
        border-radius: 1px solid #D5D4D8;
        text-indent: 5px;
    }

    .form-button {
        grid-column: 1 / -1;
        font-family: "Karla", sans-serif;
        border-radius: 1px solid #D5D4D8; 
        background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
        color: white;
        border: none;
        cursor: pointer;
    }
}


